{{extend 'layout.html'}}
<table border=10)>
    <tr> 
        <td>imagen</td>
        <td>Nombre</td>
        <td>twitter</td>
        <td>Ultimo tweet</td>
    </tr>
    {{imagen=usuario.profile_image_url}}
    <tr> 
        <td><a href={{=imagen}}> <img src={{=imagen}}><br>ver</a></td>
        <td> {{=usuario.name}}</td> 
        <td> {{=usuario.screen_name}}</td> 
        <td> {{=usuario.status.text}}</td>
    </tr>
</table>
<h2> Tabla de los ultimos 20 tweet publicos</h2>
<table border=10)>
    <tr> 
        <td>tweet</td>
        <td>imagen</td> 
        <td>nombre</td>
        <td>twitter</td>
        <td>ultimo tweet publico</td>
        <td>url</td> 
    </tr>
    {{cont=1}}
    {{for x in tweets:}} 
    {{imagen=x.user.profile_image_url}}
    {{if x.user.url:}}
        {{url='href='+x.user.url}}
    {{else:}}
        {{url="no tiene"}}
    {{pass}}
<tr> 
   <td> {{=cont}}{{cont=cont+1}} </td>
   <td> <img src={{=imagen}}><br><a href={{=imagen}}>ver </a> </td>
   <td> {{=x.user.name}}</td>
   <td> {{=x.user.screen_name}}</td>
   <td> {{=x.text}}</td>
   <td><a {{=url}}>ver</a> </td>
</tr>
{{pass}}
</table>
