{{extend 'layout.html'}}
{{import gluon.contrib.markdown}}

{{record = db(db.pagename.id == 1).select()[0]}}
{{person = record.title}}
<h2>{{=person}}'s blog entries</h2>

{{if admin:}}
<a href = "/{{=request.application}}/default/title/{{=1}}">{{="change blog title"}}</a><br/>
{{pass}}

<table width="100%">
{{for image in images:}}<tr><td>
  <hr size = "10" width = "100%">  
  <h2><a href = "/{{=request.application}}/default/show/{{=image.id}}">{{=image.title}}</a></h2>  
  <br/>
  <a href = "/{{=request.application}}/default/show/{{=image.id}}">{{="click to comment"}}</a><br/>
  <img width="200px" align="right" src = "/{{=request.application}}/default/download/{{=image.file}}"WIDTH="400">
 {{=gluon.contrib.markdown.WIKI(str(image.body))}}
 
  <br/>

</td></tr>
{{pass}}
</table>

{{if admin:}}
  <h2><a href = "/{{=request.application}}/default/insert">{{="add new blog entry"}}</a></h2><br/>
{{pass}}