{{extend 'layout.html'}} 
<div class='content'>

    <div id='post' class='post'>
	{{=DIV(H3(T("Administrando Artículos."), _class='title'), _align='center', _class='title')}}
    <ul>
        <li> {{=H5(A(T("Crear nuevo artículo"), _class='link', _href='createpost'))}} </li>
        <li> {{=H5(A(T("Gestionar Comentarios"), _class='link', _href='grantcomment'))}} </li>
	<li> {{=H5(A(T("Administrar Base de Dato"), _class='link', _href=URL(a='blog', c='appadmin', f='index')))}}</li>
	<li> {{=H5(A(T("Modificar o Eliminar artículo"), _class='link'))}}</li>
	<li> {{=H5(A(T("Activar Cuenta de Twitter"), _class='link', _href=URL(a='blog', c='default', f='twitterauth')))}}</li>
    </ul>
   </div>

{{if not tableart:}}
    {{=DIV(H2(T("No existen artículos"), _class='title'), _class='post')}}
{{pass}}

<div id='adminpost'>
{{if tableart:}}
    <table>
	<thead>        
	<tr>
            <th>
	    {{=T("Título")}}
            </th>
            <th>
	    {{=T("Fecha de Creación")}}
            </th>
    	    <th colspan=2 align='center'>
	    {{=T("Acciones")}}
            </th>
        </tr>
	</thead>
	<tbody>
	    {{i=0}}
	    {{for registro in tableart:}}
		{{i= i +1}}
    	<tr {{if ((i % 2)==0): response.write("class=odd") }}>
	    <td>
	        {{=T(registro.articulos.titulo)}}
	    </td>
	    <td>
	        {{=registro.articulos.fecha}}
	    </td>
	    <th scope='row'>
	        {{=A(T("Modificar artículo"), _href=URL('modifypost', args=registro.articulos.id), _class='link')}}
	    </th>
	    <th scope='row'>
	        {{=A(T("Eliminar artículo"), _href=URL('deletepost', args=registro.articulos.id), _class='link')}}
	    </th>
        </tr>
            {{pass}}
	{{pass}}
	</tbody>
    </table>
</div>

<!-- Paginador -->

<div class="pages">
{{if totalpages > 1:}}
	Paginas:
	{{for i in range(1, totalpages+1): }}
        <span class="page">
        	{{if postpage == i and i>1:}}
			{{=A('Atras',  _href=URL('admin', args=(i -1)))}}
                {{pass}} 
		{{else:}}
			{{if (i < totalpages+1 and postpage != i):}}
				{{=A('Adelante',  _href=URL('admin', args=(postpage +1)))}} 
			{{pass}}
		{{pass}}
		
	{{pass}}
        </span>
{{pass}}
</div>
</div>
