{{extend 'layout.html'}}
<div class='content'>
{{=DIV(H2(T("Organizando Peroles."), _class='title'), _align='center')}}
    <ul>
        <li> {{=H3(A(T("Crear nuevo artículo"), _class='link', _href='createpost'), _class='title')}} </li>
    <li> {{=H3(A(T("Modificar o Eliminar artículo"), _class='link'), _class='title')}}</li>
    </ul>
<table class='adminpost' border='1' align='center'>
<tr>
    <th>
    {{=T("Título")}}
    </th>
    <th>
    {{=T("Fecha de Creación")}}
    </th>
    <th colspan=2>
    {{=T("Acciones")}}
    </th>
</tr>
{{for registro in table:}}
    <tr>
    <td>
        {{=T(registro.articulos.titulo)}}
    </td>
    <td>
        {{=registro.articulos.fecha}}
    </td>
    <td>
        {{=A(T("Editar articulo"), _href=URL('modifypost', args=registro.articulos.id), _class='link')}}
    </td>
    <td>
        {{=A(T("Eliminar articulo"), _href=URL('deletepost', args=registro.articulos.id), _class='link')}}
    </td>
{{pass}}
    </tr>
</table>
</div>
