{{extend 'layout.html'}} 
<div class='content' align='center'>
{{=DIV(H2(T("Aprobar comentarios."), _class='title'), _align='center')}}
<br/>
{{if comments:}}
<div id='adminpost'>
<table>
<tr>
    <th>
	{{=T("Comentarios")}}
    </th>
    <th>
	{{=T("Artículo")}}
    </th>
    <th>
	{{=T("Fecha del comentario")}}
    </th>
    <th>
	{{=T("Visible")}}
    </th>
    <th>
	{{=T("Acción")}}
    </th>
</tr>
<form action='grantcomment' method=post>
{{for registro in comments:}}
    <tr>
	<td>
	    {{=T(registro.comentarios.comentario)}}
	</td>
	<td>
	    {{=registro.articulos.titulo}}
	</td>
	<td>
	    {{=registro.comentarios.fecha}}
	</td>
	<td>
	    {{visible = lambda x: x and 'Si' or 'No'}}
	    {{=A(visible(registro.comentarios.visible), _class='link', _href=URL('grantcomment', args=[registro.comentarios.id ,registro.comentarios.visible]))}}
	</td>
	<td>
	    {{=A('Eliminar', _class='link', _href=URL('grantcomment', args=[registro.comentarios.id, 'delete']))}}
	</td>
{{pass}}
    </tr>
</form>
</table>
</div>
{{pass}}
{{if not comments:}}
{{=DIV(H2(T("No Existen Comentarios"), _class='title'), _class='post')}}
{{pass}}
</div>
