{{extend 'layout.html'}}
<div class="content">
{{x=0}}
{{if not post:}}
   {{=DIV(H2(T(" No existen Artículos"), _class='title'), _class='post')}}
{{pass}}
{{for p in post:}}
    <div class="post">
        {{=H3(A(p.articulos.titulo, _href=URL("viewpost", args=p.articulos.id)), _class='title')}} 
        <div class="entry"> 
            {{articulos_palabras = p.articulos.articulo.split()}}
            {{if len(articulos_palabras) > 30:}}
                {{=XML(' '.join(articulos_palabras[:30]))}} {{=A('Leer más...',_href=URL('viewpost',args=p.articulos.id))}}
            {{else:}}
                {{=XML(p.articulos.articulo)}}
            {{pass}}
        </div>
        {{=A(T("Escrito por %s el: %s Comentarios(%s)" % (p.auth_user.first_name,p.articulos.fecha.strftime('%d de %B del %Y'),comments[x])), _class='meta')}}
    </div>
<hr />
{{x=x+1}}
{{pass}}
<br />
<!-- Paginador -->
<div class="pages">
{{ if totalpages > 1:}}
        Paginas: 
    {{ for i in range(1, totalpages+1): }}
        <span class="page">
            {{ if postpage == i and i>1: }} 
                {{=A('Atras', _href=URL('index', args=i-1))}}
                {{ pass }} 
            {{ else: }}
                {{ if i < totalpages+1 and postpage != i: }}
                    {{=A('Adelante', _href=URL('index', args=postpage+1))}}
                    {{ pass }}
                {{ pass }}
        </span>
        {{ pass }}
{{ pass }}
</div>
</div>
