{{extend 'layout.html'}}

{{for post in post:}}
    <div class='post'>
        {{=H3(A(post.articulos.titulo, _href=URL("viewpost", args=post.articulos.id)), _class='title')}} 
        <div class="entry"> {{=post.articulos.articulo}}</div>
        <div class="meta">
            {{=T("Escrito por %s el: %s" % (post.usuarios.usuario,post.articulos.fecha))}}
        </div>
    </div>
<hr />
{{pass}}
<br />
<!-- Paginador -->
{{ if totalpages > 1:}}
    <div class="pages">
        Paginas: 
    {{ for i in range(1, totalpages+1): }}
        <span class="page">
            {{ if postpage == i and i>1: }} 
                <a href="/blog/?page={{=i-1}}">Atras</a>
                {{ pass }} 
            {{ else: }}
                {{ if i < totalpages+1 and postpage != i: }}
                    <a href="/blog/?page={{=postpage+1}}">Adelante</a>
                    {{ pass }}
                {{ pass }}
        </span>
        {{ pass }}
</div>
{{ pass }}
