{{extend 'layout.html'}}

<div class='post'>
{{=H2(post.articulos.titulo, _class='title')}}
    <div class='entry'>
	<p> {{=post.articulos.articulo}} </p>
    </div>
    {{=A(T("Escrito por: %s  el %s" % (post.usuarios.usuario, post.articulos.fecha)), _class='meta')}}
    <div class='entry'>
    {{if comments:}}
	{{ for comment in comments: }}
            {{=B(T("Titulo: "))}} {{=comment.comentarios.titulo}}<br/>
            {{=B(T("Nombre: "))}} {{=comment.comentarios.nombre}} <br />
            {{=B(T("Web: "))}} {{=(comment.comentarios.url or "No tiene Url")}} <br />
            {{=B(T("Comentario: "))}}<br />
            {{=comment.comentarios.comentario}} <br />
            {{=B(T("Escrito el:"))}} {{=comment.comentarios.fecha}} <br /><br />
    {{pass}}
    {{else:}}
        {{=H3(T("Este post no tiene comentarios aun, sé el primero en dejar uno"))}}
    {{pass}}
    </div>
<br/>
{{=form}}
</div>
