!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Night Vision
Version    : 1.0
Released   : 20080119
Description: Three-column blog design with the third column allocated for ads. Features Web 2.0 design ideal for 1024x768 resolutions.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{=response.title or request.application}}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/earthlingtwo/style.css'))}}
{{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
{{include 'web2py_ajax.html'}}
</style>
</head>
<body>

<!-- start header -->
<div id="wrapper">
	<div id="header">
		<div id="logo">
			{{=H1(A(T(response.title or request.application), _class='link', _href=URL(a='blog', c='default', f='index')))}}
		</div>
		<div id="rss"><a href="#">Subscribe to RSS Feed</a></div>
	</div>
<!-- end header -->
<!-- star menu -->
<div id="menu">
	{{=MENU(response.menu,_class='web2py-menu')}}
    		<script>
       			jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
    		</script>
</div>
<!-- end menu -->
<!-- start page -->
<div id="page">
	
	<!-- start content -->
	<div id="content">
		<div class="flash">{{=response.flash or ''}}</div>
    		{{include}}
   		<div style="clear: both;"> &nbsp; </div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li id='blog_archive'>
				<h2>Archivos Viejos</h2>
				<div id='cont_blog_archive'> </div>
			</li>			
			<li id='st_etiquetas'>
				<h2> Tags </h2>
				<script type='text/javascript'> ajax('http://localhost:8000/blog/default/showcloudtag', '', 'etiquetas')</script>
				<div id='etiquetas'> </div>	
			</li>
			<li id="categories">
				&nbsp;
				<h2>Publicidad</h2>
				<div class="portlet" id="p-perl">
 					<div class="pBody">
   						<div style="padding: 8px">
     						<script type="text/javascript"  src="http://pcas.szabgab.com/ads/direct_link_selflink.js"></script>
						</div>
   					</div>
 				</div>
				<div id=python >
					<a target="_blank" title="Python" href="http://www.python.org/" >
					<img src="/blog/static/images/python-logo-glassy.png" border="0" width="160" height="150"/>
					</a>
				</div>		
			</li>
			
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
</div>
<!-- start footer -->
<div id="footer-content">
	<div class="column1">
		<h2>Desde Mis raíces..</h2>
		<p><strong>Érase una vez.. </strong> ahora dos y tres más veces, un individuo.. <a href="/blog/default/about" class='more'>Learn more&#8230;</a></p>
	</div>
	
	<div class="column2">
		<ul class="list">
			<p><strong>Algunas pistas... </strong>
	</ul>
	</div>
</div>
<div id="footer">
	<p> (c) 2011 jenn.org.ve. Design by <a href="http://www.nodethirtythree.com">nodethirtythree</a> and <a href="http://www.freecsstemplates.org">Free CSS Templates</a>.</p>
</div>
</div>
<!-- end footer -->
</body>
</html>
